/* Author: Christopher Kennedy
 * Date: 12-22-24
 */

._background {
    background-color: rgb(179, 167, 254);
    height: 98vh;
    width: 98vw;
    padding-left: 2vh;
}

._mainMessage {
    padding-top: 30vh;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 48px;
    font-weight: 400;
    font-family: 'nyt franklin', Arial;
}