/* Author: Christopher Kennedy
 * Date: 12-22-24
 */

 ._gameButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

._navigationButton {
    color: rgb(18, 18, 18);
    border-color: rgb(18, 18, 18);
    border-radius: 32px;
    font-weight: 600;
    font-size: 16px;
    font-family: 'nyt franklin', Arial;
    background-color: white;
    border-width: 1px;
    padding: 15px;
}

._buttonWrapper {
    padding-right: 10px;
}

._navigationButton:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

._unselectedButton {
    background-color: rgb(239, 239, 230);
    color: rgb(18, 18, 18);
    justify-content: center;
    padding: 25px;
    width: 8vw;
    font-size: 20px;
    font-weight: 700;
    font-family: 'nyt franklin', Arial;
    border-radius: 6px;
    border: none;
}

._unselectedButton:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 220);
}

._selectedButton {
    background-color: rgb(90, 89, 78);
    color: white;
    justify-content: center;
    padding: 25px;
    width: 8vw;
    font-size: 20px;
    font-weight: 700;
    font-family: "nyt franklin", Arial;
    border-radius: 6px;
    border: none;
}

._selectedButton:hover {
    cursor: pointer;
    background-color: rgb(99, 98, 85);
}
