/* Author: Christopher Kennedy
 * Date: 12-22-24
 */

._yellowBanner {
    background-color: rgb(249, 223, 109);
}

._greenBanner {
    background-color: rgb(160, 195, 90);
}

._blueBanner {
    background-color: rgb(176, 196, 239);
}

._purpleBanner {
    background-color: rgb(186, 129, 197);
}

._banner {
    justify-content: center;
    text-align: center;
    display: flex;
    padding-top: 10px;
}

._textArea {
    resize: none;
    font-size: 16px;
}

._smallerTextArea {
    height: 20px;
}

._gameSave {
    justify-content: center;
    display: flex;
}

._textAreaLabel {
    padding-right: 3px;
    padding-top: 3px;
    color: #5f5f5f;
    font-family: 'nyt franklin', Arial;
}

._blackText {
    color: rgb(18, 18, 18);
}

._descriptionLabel {
    padding-right: 3px;
    padding-top: 12px;
    color: rgb(18, 18, 18);
    font-size: 16px;
}

._saveErrorMessage {
    justify-content: center;
    display: flex;
    color: red;
    font-family: 'nyt franklin', Arial;
}

._categoryLabelAndTextArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

._largeTopPadding {
    padding-top: 30vh;
}
